@charset "utf-8";
/* CSS Document */

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.hidden {
    display: none;
}

body {
	margin: 0px;
	border: 0px;
	background-image: url(../images/City_Background.svg);
	background-repeat:no-repeat;
	background-size: 250%;
	background-color: #2A004F;
	color:#FFF;
	font-family: 'Poppins', sans-serif;
}

header {
	display: flex;
}

#instructions {
	text-transform: uppercase;
	text-align: center;
	font-size: 35px;
	font-weight: 600;
}

.fruits p {
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	font-weight: 600;
}

.discoBall {
	mix-blend-mode: screen;
	width: 20rem;
	display: none;
}

#mainLogo {
	width: 40rem;
}

.fruits {
	width: 5rem;
}

.drop-square {
	background-color: #6727ff;
	border-radius: 20px;
	width: 150px;
	height: 150px;
}

.speakerCan {
	width: 20rem;
	display: none;
}

#bunnyDJ {
	width: 28rem;
}

#orangeStripe {
	width: 150rem;
	justify-content: center;
	align-items: center;
}

#stripe {
	overflow: hidden;
}

button {
	background-color: transparent;
	border: none;
}

/* Mobile Styling */

@media screen and (min-width: 412px) {

 }
 
 /* Tablet Styling */
 
@media screen and (min-width: 768px) {

 }
 
 /* Desktop Styling */
 
@media screen and (min-width: 1200px) {

 }