@charset "utf-8";
/* CSS Document */

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.hidden {
    display: none;
}

body {
	margin: 0px;
	border: 0px;
	background-image: url(../images/City_Background.svg);
	background-repeat:no-repeat;
	background-size: 250%;
	background-color: #2A004F;
	color:#FFF;
	font-family: 'Poppins', sans-serif;
}

header {
	display: flex;
}

p {
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
}

.discoBall {
	mix-blend-mode: screen;
	width: 20rem;
}

#mainLogo {
	width: 40rem;
}

.fruits {
	width: 5rem;
}


/* Mobile Styling */

@media screen and (min-width: 412px) {

 }
 
 /* Tablet Styling */
 
@media screen and (min-width: 768px) {

 }
 
 /* Desktop Styling */
 
@media screen and (min-width: 1200px) {

 }