@charset "utf-8";
/* CSS Document */

html {
	box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
	margin: 0px;
	border: 0px;
	background-image: url(../images/City_Background.svg);
	background-repeat:no-repeat;
	background-size: 450%;
	background-color: #2A004F;
	color:#FFF;
	font-family: 'Poppins', sans-serif;
}

button {
	background-color: transparent;
	border: none;
}

header {
	display: flex;
	margin: auto;
}

#instructions {
	text-transform: uppercase;
	text-align: center;
	font-size: 28px;
	font-weight: 700;
	line-height: 2.25rem;
}

.fruits p {
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	margin: auto;
}

.discoBall {
	mix-blend-mode: screen;
	width: 20rem;
	display: none;
}

#mainLogo {
	width: 23rem;
	display: flex;
	margin: auto;
	margin-top: 30px;
}

.fruits {
	width: 5rem;
	margin-top: 1rem;
}

.drop-square {
	background-color: #6727ff;
	border-radius: 10px;
	width: 5rem;
	height: 5rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

.audio-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.audio-box button {
	display: flex;
    justify-content: center;
    align-items: center;
}

.speakerCan {
	display: none;
}

footer {
	position: relative;
	display: flex;
	justify-content: center;
    align-items: center;
}

#bunnyDJ, #orangeStripe {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bunnyDJ {
	position: relative;
	z-index: 1;
	width: 23rem;
	margin-top: 2rem;
}

#orangeStripe {
	position: absolute;
	z-index: 0;
	width: 100%;
	bottom: 0;
}

/* Mobile Styling */

@media screen and (min-width: 412px) {

 }
 
 /* Tablet Styling */
 
@media screen and (min-width: 768px) {

 }
 
 /* Desktop Styling */
 
@media screen and (min-width: 1200px) {

 }